html {
  background-color: #dcdcdb;
}

body {
  background: url("../assets/svg/Waiau.svg") no-repeat top left / contain fixed,
    linear-gradient(51deg, $md-grey 45.5%, $lt-grey 45.5%) fixed;
  min-height: 100vh;

  & > .wrapper {
    max-width: 75rem;
    border-width: 0.8rem;
    border-style: none solid;

    @include fade(background-color, $white, 0.6);
    @include fade(border-color, $gold, 0.3);
  }
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;
}

p {
  max-width: 35.5rem;
  margin-bottom: 1.5rem;
}
