main {
  padding-bottom: 3rem;
  margin: 0 0 3rem 1rem;

  .inner-wrapper {
    background: $white;

    @include section-borders();
  }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;

  &.inner-wrapper {
    padding-bottom: 0;
  }

  .register {
    width: 18rem;
  }
}

/*-----
   TABS
  -----*/
.ui-tabs {
  position: relative;
  border-left: 0.35rem solid;

  @include fade(border-left-color, $lt-blue);
}

.ui-tabs-nav {
  display: flex;
  list-style: none;

  li {
    padding: 0.5rem 1rem;
    border-right-style: dotted;
    border-width: 0.1875rem 1px;
    border-top: 0.35rem solid;
    border-color: $md-green $lt-green;
    background: $white;

    @include fade(border-top-color, $navy, 0.8);

    &.ui-tabs-active {
      position: relative;
      border-bottom: none;
      background: $white;
      z-index: 20;

      a,
      a:hover {
        color: $md-blue;
      }

      a:hover {
        cursor: text;
      }
    }
  }
}

.ui-tabs .ui-tabs-panel {
  position: relative;
  margin-top: -0.3875rem;
  // box-shadow: 0.25rem -0.25rem 0.35rem $lt-green;
  border-top: 0.35rem solid;
  padding: 1.5rem 1rem;
  background: $white;
  z-index: 10;

  @include fade(border-top-color, $md-green, 0.7);

  li:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

.conifer-facts {
  margin-left: 1.25rem;
  margin-top: 1.5rem;

  li {
    margin-bottom: 1.5rem;
  }
}
