$lt-green: #bfcbba;
$md-green: #849c9b;
$dk-green: #587469;

$lt-blue: #60bebf;
$md-blue: #3a8eaa;
$navy: #2a3e4c;
$dk-blue: #28203d;

$white: #fcf8fa;
$lt-grey: #eae8e4;
$md-grey: #dcdcdb;

$gold: #e5ab17;
$red: #ca4016;
